
nav.menu {
  z-index: 10;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  flex-grow: 0;
  display: flex;
  padding: .5rem;
  align-items: stretch;
  justify-content: space-between;
  vertical-align: middle;
  width: 100%;
  background-color: var(--menu_background);

  .night-menu {
    color: var(--primary_menu_link_color);
    cursor: pointer;
    margin-right: 0;
    &:hover {
      color: var(--primary_menu_link_color_hover);
    }
  }

  a {
    line-height: 100%;
    vertical-align: bottom;
    text-decoration: none;
    &.main-emphasis {
      color: var(--primary_menu_link_color);
      font-size: 1.2rem;
      &:hover {
        color: var(--primary_menu_link_color_hover);
      }
    }
    &.menu-item {
      margin-left: .5rem;
      font-size: 1rem;
    }
  }

  * {
    margin-top: auto;
    margin-bottom: auto;
  }

  button {
    padding: 0;
  }
}
