<nav class="menu">
  <a class="main-emphasis weight-700" href="/">LukeWood.dev</a>
  {{ range .Site.Menus.header }}
    <a class="menu-item" href={{ .URL }}>{{ .Name }}</a>
  {{ end }}
  <a id="night-toggle" class="night-menu material-icon">wb_sunny</a>
  <script async>
    document.getElementById("night-toggle").addEventListener("click", function() {
      var current = document.documentElement.getAttribute("data-theme");
      var next = null
      if (current == "dark") {
        next = "light";
      } else {
        next = "dark";
      }
      document.documentElement.setAttribute("data-theme", next);

      if(window.localStorage) {
        window.localStorage.setItem("preferredTheme", next);
      }
    });
  </script>
</nav>
